name: Initialize Template

on:
  push:
    branches:
      - main
      - master

jobs:
  publish:
    name: Initialize Template
    runs-on: ubuntu-latest
    if: ${{ github.repository != '<%= repo.owner %>/<%= repo.name %>' }}
    steps:
      - uses: actions/checkout@v<%= versions.GITHUB_ACTIONS_CHECKOUT %>
      - uses: cpdevtools/action-template@v<%= versions.CPDEVTOOLS_ACTION_TEMPLATE %>
        with:
          action: init-tpl
